.jumbotron {
    display: block;
    text-align: center;
}

div.carousel-caption.d-none.d-md-block {
    color: blue;
    font-weight: 600;
    font-size: large;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #555454;
    padding: 2rem;
    color: black;
}

.dropdown-menu.show {
    background-color: rgb(114, 112, 112);
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: whitesmoke;
    display: block;
    margin: auto;
}

p.secondp {
    padding-left: 15px;
}

h5.modal-title {
    display: block;
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.infowars-img {
    display: block;
    margin: auto;
}
div.ar-15-img > img {
    display: block;
    margin: auto;
    padding: 25px 0 50px 0;
}

.freedomVideo, 
.justiceVideo, 
.libertyVideo {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 25px;
    height: 24rem;
}

div.col-sm-12.col-md-3.infowarsPicCol {
    padding: 0;
}

div.infowars-img > img.infowars-img {
    display: block;
    margin: 0;
    margin: auto;
}

div.container-fluid {
    padding: 0;
}