.jumbotron {
    display: block;
    text-align: center;
}

div.carousel-caption.d-none.d-md-block {
    color: blue;
    font-weight: 600;
    font-size: large;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #555454;
    padding: 2rem;
    color: black;
}

.dropdown-menu.show {
    background-color: rgb(114, 112, 112);
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: whitesmoke;
    display: block;
    margin: auto;
}

p.secondp {
    padding-left: 15px;
}

h5.modal-title {
    display: block;
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.infowars-img, .ar-15-img {
    display: block;
    margin: auto;
}

.freedomVideo, 
.justiceVideo, 
.libertyVideo {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}